!./boot/head.s
!./kernel/asm.s
!./kernel/chr_drv/rs_io.s
!./kernel/sys_call.s
!./mm/page.s
*.o
*.a
*.s
!compile_commands.json

Kernel_Image
boot/bootsect
boot/setup
tools/system
build
core.2333
core.15505 
core.27154
Makefile.header
hdc-0.11.img
root
